%h3 Look At All These Urls!

%ol
  - @urls.each do |url|
    - shortened_url = format_url(entire_shortened_url(url))
    - original_url  = format_url url.original
    .url
      %li
        %span
          %a{:href => original_url}
            = url.original
        %span
          = link_to shortened_url, shortened_url
        %span
          = url.request_count
