.url-converter
  .col-md-4.center-content
    #url-form
      %p Enter Your Url Below

      = form_for @url, class: 'form-group' do |f|
        %p
          = f.url_field :original, class: 'form-control', required: true
        %p
          = f.submit 'Shorten My Url!', class: 'btn btn-primary', id: 'create-button'
    %a{:href => "#", 'data-toggle' => 'collapse'}
    .collapse#shortened-container
      %p#shortened
      %a{:href => "#", onclick: 'copyToClipboard(event)'}
        Copy
        %i.fa.fa-copy{'aria-hidden': true}
