.navbar {
  border-bottom: 1px solid black;
}

.url-converter {
  height: 100vh;
  background-image: image_url('hero_img.jpg');
  background-size: 100% 100%;
}

#url-form {
  margin-top: 50%;
}

.form-control {
  width: 75%;
  margin: auto;
}
