// homepage
html,body {
  height:100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #F4F4F4;
  -webkit-box-shadow: 0 4px 3px -1px black;
     -moz-box-shadow: 0 4px 3px -1px black;
          box-shadow: 0 4px 3px -1px black;
}

.url-converter {
  height: 100%;
  width: 100%;
  background: image_url('hero_img.png')no-repeat center fixed;
  background-size: 100% 100%;
}

#url-form {
  padding-top: 50%;
}

.form-control {
  width: 75%;
  margin: auto;
}

.nav-link {
  color: black;
}

#shortened-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

// index page

.container {
  margin-top: 5%;
}
