.footer
  .row
    .col-md-2.offset-md-3.text-center
      %span Created By:
      %span
        = link_to 'John Maguire', 'https://www.johnmaguiredeveloper.com'
    .col-md-1.text-center
      %a{:href => 'https://github.com/jm96441n'}
        %i.fa.fa-github.fa-2x
    .col-md-1.text-center
      %a{:href => 'https://www.linkedin.com/in/johnmaguire1/'}
        %i.fa.fa-linkedin.fa-2x
    .col-md-2.text-center
      = link_to 'Source Code', 'https://github.com/jm96441n/url_shortener'

