%nav.navbar.navbar-toggleable-md
  = link_to ">>UrlShortener<<", root_path, class: 'navbar-brand nav-link'
  .collapse.navbar-collapse
    .navbar-nav.ml-auto
      = link_to 'Top 100', urls_path, class: 'nav-link'

